.btn {
  padding: 10px 20px;
  background-color: $red;
  border: none;
  border-radius: 5px;
  color: $white;
  font-size: 0.8125rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &:hover, &:focus {
    background-color: $dark-red;
    cursor: pointer;
  }
}

.btn_black {
  background-color: $black;

  &:hover, &:focus {
    background-color: $dark-black;
  }
}