@import 'colors';
@import 'placeholders';
@import 'fonts';
@import 'header';
@import 'main-section';
@import 'advantages-section';
@import 'feedback-section';

body {
  width: 100%;
  height: 100%;
  font-family: Ubuntu-Regular;
}

* {
  box-sizing: border-box;
}