@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu-B';
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin-Regular.woff2") format("woff2"), url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff2") format("woff2"), url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
.btn {
  padding: 10px 20px;
  background-color: #e45028;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8125rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }
  .btn:hover, .btn:focus {
    background-color: #c1401e;
    cursor: pointer; }

.btn_black {
  background-color: #2f3234; }
  .btn_black:hover, .btn_black:focus {
    background-color: #1f2122; }

.pages-switcher {
  position: fixed;
  top: 100px;
  right: 80px;
  z-index: 1; }

.pages-switcher__item {
  margin-bottom: 3px; }

.pages-switcher__link {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-left: 4px;
  margin-bottom: 5px;
  position: relative; }
  .pages-switcher__link:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 4px; }
  .pages-switcher__link:hover {
    border: 1px solid #fff; }

.pages-switcher__item_active .pages-switcher__link {
  border: 1px solid #fff; }

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8125rem; }

.logo {
  display: block; }

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center; }

.menu {
  margin-right: 15px; }

.menu__item {
  display: inline-block; }
  .menu__item:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    margin: 0 15px 4px 15px; }
  .menu__item:last-child:after {
    display: none; }

.menu__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.section_main {
  background: url("../img/main-bg.svg") no-repeat; }

.container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }

.intro-slide {
  display: flex;
  flex-direction: row;
  align-items: center; }

.intro-slide__left {
  margin-right: 15px; }

.heading {
  color: #f9b43b;
  font-size: 4.5rem;
  font-family: Gagalin-Regular;
  line-height: 2;
  margin: 0;
  margin-top: 30px; }

.heading_black {
  color: #2f3234;
  margin: 0; }

.heading_yellow {
  color: #f9b43b;
  margin-top: 0; }

.heading__subheading {
  display: block;
  color: #fff;
  font-size: 4.0625rem;
  font-family: Lifehack;
  line-height: 0.9; }

.arrow-down {
  display: block;
  width: 28px;
  height: 14px;
  background-image: url("../img/icons/arrow-scroll.svg"); }

.section_about {
  background: url("../img/about.svg") no-repeat; }

.about__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.advantages {
  display: flex;
  text-align: center; }

.advantages__item {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-right: 15px; }
  .advantages__item:last-child {
    margin-right: 0; }

.advantages__img {
  margin-bottom: 30px; }

.advantages__heading {
  font-family: Lifehack;
  font-size: 1.5rem;
  color: #2f3234;
  margin-bottom: 30px; }

.advantages__text {
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu-Light;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 24.07px; }

.section_feedback {
  display: flex; }

.feedback {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.feedback__item {
  width: 25%;
  height: 50%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .feedback__item:hover .feedback__back {
    opacity: 1;
    cursor: pointer; }

.feedback__back {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.7);
  color: #fff;
  padding: 50px 20px; }

.feedback__heading {
  font-family: Gagalin-Regular;
  font-size: 0.875rem;
  margin-bottom: 30px; }

.feedback__text p {
  font-family: Ubuntu-Light;
  line-height: 1.5rem;
  font-size: 0.875rem;
  margin-bottom: 20px; }

.section_team {
  background: url("../img/team-bg.svg"); }

.team {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 100px 50px 100px;
  background-color: #2f3234;
  opacity: 0.93; }

.team__item {
  color: #fff;
  font-size: 14px;
  margin-bottom: 35px; }
  .team__item_active .team__person-info {
    height: auto; }
  .team__item_active .team__person-name {
    color: #f9b43b;
    margin-bottom: 17px; }
    .team__item_active .team__person-name:before {
      background: url("../img/icons/arrow-up.svg") center center no-repeat; }

.team__person-name {
  font-family: 'Gagalin-Regular';
  text-transform: uppercase; }
  .team__person-name:before {
    content: '';
    display: inline-block;
    background: url("../img/icons/arrow-down.svg") center center no-repeat;
    width: 9px;
    height: 7px;
    margin-right: 10px;
    margin-bottom: 2px; }

.team__person-info {
  display: flex;
  height: 0;
  overflow: hidden;
  margin-left: 20px; }

.team__person-photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px; }

.team__person-desc {
  width: 70%; }

.team__job-title {
  font-family: "Ubuntu-B";
  margin-bottom: 20px; }

.team__person-about {
  font-family: "Ubuntu-Light";
  line-height: 24px; }

.section_order-form {
  background: url("../img/form-bg.svg"); }

.form {
  display: flex;
  color: #fff; }

.form__column {
  width: 50%; }

.form__row {
  display: flex; }

.form__block {
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: Ubuntu-Regular;
  font-size: 16px; }

p {
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.section {
  height: 100vh;
  min-height: 650px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
