.pages-switcher {
  position: fixed;
  top: rem(100px);
  right: rem(80px);
  z-index: 1;

  @include tablets {
    display: none;
  }
}

.pages-switcher__item {
  margin-bottom: rem(3px);

  &.active {
    .pages-switcher__link {
      border: 1px solid $white;
    }
  }
}

.pages-switcher__link {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: rem(4px);
  margin-bottom: rem(5px);
  position: relative;

  &:after {
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    top: rem(4px);
    left: rem(4px);
  }

  &:hover {
    border: 1px solid $white;
  }
}