.section_about {
  background: url("../img/about.svg") no-repeat;
}

.about__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages {
  display: flex;
  text-align: center;

  @include phones {
    flex-direction: column;
  }
}

.advantages__item {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-right: rem(15px);

  &:last-child {
    margin-right: 0;
  }

  @include phones {
    flex-direction: row;
    width: 100%;
    margin-right: 0;
    margin-bottom: rem(50px);
  }
}

.advantages__img {
  margin-bottom: rem(30px);

  @include phones {
    width: 30%;
    margin-right: 5%
  }
}

.advantages__desc {
  display: flex;
  flex-direction: column;

  @include phones {
    text-align: left;
    width: 70%;
  }
}

.advantages__heading {
  font-family: Lifehack;
  font-size: rem(24px);
  color: $black;
  margin-bottom: rem(30px);

  @include phones {
    margin-bottom: rem(25px);

  }
}

.advantages__text {
  opacity: 0.8;
  color: $black;
  font-family: Ubuntu-Light;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
}
