.section_order-form {
  background: url("../img/form-bg.svg");
}

.form {
  display: flex;
  color: $white;
  font-size: 14px;
}

.form__column {
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 20px;
}

.form__block {
  display: block;
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.form__block-title {
  margin-bottom: 7px;
  font-family: 'Ubuntu-Light';
}

.form__block-input {
  background: $white;
  padding: 8px 20px;
  border: 1px solid #d1cfcb;
  border-radius: 3px;
  width: 100%;
  color: #2f3234;

  &:active,
  &:focus{
    padding: 7px 20px;
    border: 2px solid #f9b43b;
    outline: none;
  }
}

.form__block-input_textarea {
  resize: none;
  height: 110px;

  &:focus {
    outline: none;
  }
}