.section_main {
  background: url("../img/main-bg.svg") no-repeat;
}

.container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.intro-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.intro-slide__left {
  margin-right: 15px;
}

.heading {
  color: $yellow;
  font-size: 4.5rem;
  font-family: Gagalin-Regular;
  line-height: 2;
  margin: 0;
  margin-top: 30px;
}

.heading_black {
  color: $black;
  margin: 0;
}

.heading__subheading {
  display: block;
  color: $white;
  font-size: 4.0625rem;
  font-family: Lifehack;
  line-height: 0.9;
}

.arrow-down {
  display: block;
  width: 28px;
  height: 14px;
  background-image: url("../img/icons/arrow-scroll.svg");
}
