.section_about {
  background: url("../img/about.svg") no-repeat;
}

.about__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages {
  display: flex;
  text-align: center;
}

.advantages__item {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.advantages__img {
  margin-bottom: 30px;
}

.advantages__heading {
  font-family: Lifehack;
  font-size: 1.5rem;
  color: $black;
  margin-bottom: 30px;
}

.advantages__text {
  opacity: 0.8;
  color: $black;
  font-family: Ubuntu-Light;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 24.07px;
}
