.btn {
  padding: rem(10px) rem(20px);
  background-color: $red;
  border: none;
  border-radius: 5px;
  color: $white;
  font-size: rem(13px);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &:hover, &:focus {
    background-color: $dark-red;
    cursor: pointer;
    outline: none;
  }

  &_header {
    margin-right: 30px;
  }
}

.btn_black {
  background-color: $black;

  &:hover, &:focus {
    background-color: $dark-black;
  }
}

.btn_reset {
  background: none;
  text-transform: initial;
  font-family: 'Ubuntu-Light';

  &:hover, &:focus, &:active {
    background: none;
    border: none;
    outline: none;
  }
}