.checkbox {
  display: flex;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  margin-right: 10px;

  &:checked + .checkbox__content {
    .checkbox__btn {
      .checkbox__svg {
        color: $red;
        opacity: 1;
      }
    }
  }
}

.checkbox__content {
  display: flex;
}

.checkbox__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: $white;
  margin-right: 10px;

  .checkbox__svg {
    color: $red;
    width: 10px;
    height: 10px;
    opacity: 0;
  }
}


